<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Arial, sans-serif; color: #2c3e50; margin: 0; padding: 0;">
  <div style="max-width: 600px; margin: 0 auto; overflow: hidden;">
    <div style="display: flex; align-items: center; justify-content: center; gap: 8px; padding: 30px 20px 10px;">
      <div
        style="background-color: #007abf; padding: 3px; display: flex; justify-content: center; align-items: center; border-radius: 4px;">
        <img src="{{workflowImage}}" alt="Your App Logo" style="height: 30px;">
      </div>
      <p style="font-weight: 900; font-size: 38px; margin: 0;">Planora</p>
    </div>
    <hr
      style="margin-top: 12px; width: 550px; border: none; height: 1px; background-color: rgb(218, 216, 216); margin: 0 auto;" />
    <div style="display: flex; align-items: center; justify-content: center;">
      <img src="{{verifyImage}}" alt="Verify your email" width="400" height="300" style="max-width: 70%; height: auto;">
    </div>
    <div style="padding: 40px 20px;">
      <h2 style="font-size: 20px; margin: 0; padding: 0; color: #172b4d;">You're nearly there!</h2>
      <p style="font-size: 14px; line-height: 25px; margin-top: 13px; margin-bottom: 13px; color:#172b4d;">Hi
        {{username}},</p>
      <p style="font-size: 14px; line-height: 25px; color: #172b4d;">To finish setting up your account and start using
        Planora, confirm we've got the correct email for you.</p>
      <br />
      <a href="{{verificationLink}}" target="_blank"
        style="display: inline-block; padding: 6px 14px; background-color: #0052cc; color: white; text-decoration: none; border-radius: 6px; font-weight: 500; font-size: 12px;">
        Verify your email
      </a>
      <p style="margin-top: 28px; color: #172b4d; font-size: 14px;">This link expires in 24 hours.</p>
    </div>
  </div>
</body>

</html>